<app-navigation-bar></app-navigation-bar>
<h1 style="font-weight: bold; font-size: 30px; margin-left: 45%; margin-top: 40px; color: #3B3A58; margin-bottom: 10px;">Wall Gallery</h1>

<div class="grid grid-cols-2 md:grid-cols-3 gap-4" style="margin-bottom: 20px;">
  <div *ngFor="let item of wallGalleryItems" class="text-center">
    <img class="h-auto max-w-full rounded-lg" [src]="item.imageUrl" alt="Image" style="width: 200px; height: 200px;margin-left: 30%;" />
    <p style="font-weight: bold;">{{ item.itemName }}</p>
    <p>Item Code: {{ item.itemCode }}</p>
    <p>Size: {{ item.size }}</p>
    <p>Price: Rs.{{ item.price }}</p>
    <button class="mt-3 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" style="background-color: #D8A7B1; color: #9569B2; font-weight: bold" type="button">
      Quick view
    </button>
  </div>
</div>

<app-footer></app-footer>
