<app-navigation-bar></app-navigation-bar>

<h1 style="font-weight: bold; font-size: 30px; margin-left: 42%; margin-top: 40px; color: #3B3A58; margin-bottom: 10px;">Track My Order</h1>
<p style="margin-left: 200px;margin-right: 200px;font-size: large;">To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
  
<div class="max-w-sm mx-auto" style="margin-top: 30px;margin-bottom: 20px;">
     <!-- Flex container for input fields -->
   <div class="flex-container" style="display: flex; gap: 30px; justify-content: center; align-items: flex-start;">
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order Id</label>
            <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Billing email</label>
            <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="framecrafted@gmail.com" required />
        </div>
    </div>
       
    <!-- Centered button -->
    <div style="text-align: center; margin-top: 40px;">
        <button type="button" class=" bg-pink-300 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="text-align: center; background-color: #D8A7B1;color:  #9569B2;font-weight: bold;font-size: medium;">Track</button>
    </div>
</div>

<app-footer></app-footer>
